$smallscreen : 1000px;
$tablet : 900px;
$phone : 576px;

@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
       @content;
    }
  }

@include media-min($smallscreen) {
    
}

@include media-min($tablet) {
    
}

@include media-min($phone) {
    
}